
.adminpanel {
    background-color:#ecd5d9/* rgba(182, 134, 142, 0.979)*/;
    padding: 10px;
    border-bottom: 1.5px solid #000000;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    height: 9vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(182,134,142,0.979);
    color: blanchedalmond;
}

.nav-link {
    color: black;
    font-size: 20px;
    margin-right: 180px;
    
}


.nav-link  ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid transparent;
    transition: 0.4s ease-in;
}

.nav-link:hover {
   color: rgb(177 79 96 / 98%);
   
}
.blog{
    margin-right: 290px;
    font-family: Brush Script MT;
    display: inline-block;
    font-size: 30px;
}
.introduction{
    background:  #ecd5d9;
    height: 550px;
   

}

h1{
    font-size: 70px;
    color: black;
    margin-left: 130px;
    
    
}
.text{
    font-size: 27px;
    font-style: initial;
    margin: 20px 0px 0px 20px;

}
.cta {
    padding: 50px 0px 0px 0px;
    
}
.cta-select {
    display: center;
    background: rgba(182, 134, 142, 0.979);
    width: 111px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
    color: black;
    margin: 20px 0px 0px 20px;
    border-radius: 1px;
}
.cta-add {
    display: center;
    background: rgba(182, 134, 142, 0.979);
    width: 111px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
    color: black;
    margin: 20px 0px 0px 20px;
    border-radius: 1px;
}
.footer-1{
    background:rgba(182,134,142,0.979);
    height: 333px;
    width: auto;  
    display: flex;
}
.footer-content{
    display: inline-flex
}
.subscribe{
    margin-top: 50px;
    margin-left: 20px;
    height: 100px;
}
.subscribe #email{
    margin-top: 20px;
    background-color: #ffffff;
    color: black;
    height: 30px;
    width: 300px;
    border-radius: 25px;
    margin-bottom: 5px;
}
.subscribe #submit{
    height: 25px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: white;
    width: 100px;
    color: black;
    text-align: center;
}
.vi {
    margin: 50px ;
    border-left: 1px solid black;
    border-style: ridge;
    height: 200px;
    margin-left: 200px;
  }
  
.list1{
   
    list-style: none;
    margin-right: 40px;
    text-align: right;
    margin-top: 50px;
}

.quick-links ul li a{
   color: black;
    font-size: 20px;
    text-decoration: none;
}

.quick-links ul li a:hover{
    color: #ecd5d9;
   
 }
 .social ul li a{
    
    color: rgba(182,134,142,0.979);
    border-width: 2px;
     
     margin-top: 80px;
     margin-left: 70px;
     padding-top: 20px;
     
     height: 40px;
     border-radius: 20px;
 }
 
 
 .social ul li {
     list-style: none;
     margin-top: 24px;
 }
 
.title {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    color: rgba(182, 134, 142, 0.979);
    letter-spacing: .3em;
    font-size: 2.0vw;
    font-weight: normal;
    text-transform: uppercase;
}

.main-container {
    background-color: #ecd5d9;
    margin: 0 auto;
    padding-top: 1%;
    font-size: 1vmax;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title,
#text,
#product_link,
input[type="number"],
textarea {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 12px;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 1px;
    border: 1px solid black;
}

input[type="file"] {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 1px;
    border: 1px solid black;
}

#submit {
    background-color: rgba(182, 134, 142, 0.979);
    border-radius: 1px;
    color: black;
    width: 100px;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 27%;
}

#submit:hover {
    background-color: white;
}

::-webkit-file-upload-button {
    background: white;
    color: black;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid black;
}

 ::-webkit-file-upload-button:hover {
    background: rgba(182, 134, 142, 0.979);
    color: black;
}

label {
    font-size: 15px;
    font-weight: 700;
}

@media only screen and (max-width: 1024px) {
    #title,
    #text,
    #product_link,
    input[type="number"],
    textarea {
        display: flex;
        flex-direction: column;
        width: 250px;
        padding: 8px;
        background-color: white;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        border-radius: 1px;
        border: 1px solid black;
    }
    input[type="file"] {
        display: flex;
        flex-direction: column;
        width: 250px;
        background-color: white;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        border-radius: 1px;
        border: 1px solid black;
    }
    .title {
        margin-top: 50px;
    }
    
}